$def with (row)

<a href="/">Back to list</a>
<br/>
<b>$row['name']</b>

$for page in range(1, row['pagecount'] + 1):
	<p>Page ${page}</p>
	<table border="1">
	<tr><th>Original / Word</th><th>Original / LO</th><th>LO / LO</th><th>LO / Word</th></tr>
	<tr>
		<td><a href="static/$row['id']/O.W/${row['id']}-${page}.png" width="200px"><img src="static/$row['id']/O.W/${row['id']}-${page}.png" width="200px"></img></a></td>
		<td><a href="static/$row['id']/O.L/${row['id']}-${page}.png" width="200px"><img src="static/$row['id']/O.L/${row['id']}-${page}.png" width="200px"></img></a></td>
		<td><a href="static/$row['id']/O.L.L/${row['id']}-${page}.png" width="200px"><img src="static/$row['id']/O.L.L/${row['id']}-${page}.png" width="200px"></img></a></td>
		<td><a href="static/$row['id']/O.L.O/${row['id']}-${page}.png" width="200px"><img src="static/$row['id']/O.L.O/${row['id']}-${page}.png" width="200px"></img></a></td>
	</tr>
	</table>
