$def with (item)

$code
	colors = ["#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000"]
	def score_to_color(score):
		return '#{0:02x}{1:02x}00'.format(int(0.5 * 255), int(score * 255))

<td>
<a href="details?uid=$item.id">$item.name</a>
</td>
<td>
$item.extension
</td>
$if item.pagecount > 0:
	<td>
	$item.pagecount
	</td>

	$for elt in ['olscore', 'ollscore', 'olwscore']:
		<td bgcolor="
		$score_to_color(item[elt])
		">
		${(int)(item[elt] * 100)} %
		</td>
	<td>
	<a href="update?uid=$item.id">↺</a>
	</td>
$else:
	<td>Processing...</td>
	<td>N/A</td>
	<td>N/A</td>
	<td>N/A</td>
	<td>N/A</td>

