$def with (item)

$code
	colors = ["#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000"]
	def score_to_color(score):
		return '#{0:02x}{1:02x}00'.format(int(0.5 * 255), int(score * 255))

<td>
$item.name
</td>
<td>
$item.extension
</td>
<td>
$item.pagecount
</td>
<td>
<table border='1'>
<thead>
<tr>
<th>Version</th><th>Commit SHA</th><th>Import in LO</th><th>LO->LO</th><th>LO->Word</th>
</tr>
</thead>
<tbody>

$for result in db.results_for_doc(item.id):
	<tr>
	<td>
	$db.sha_2_version(result.commitsha)
	</td>
	<td>
	<a <a href="details?uid=$item.id&sha=$result.commitsha">$result.commitsha</a>
	</td>

	$for elt in ['olscore', 'ollscore', 'olwscore']:
		<td bgcolor="
		$score_to_color(result[elt])
		">
		${(int)(result[elt] * 100)} %
		</td>
	</tr>
</tbody>
</table>
<td>
<a href="update?uid=$item.id">↺</a>
</td>
<td>
<a href="update?uid=$item.id&full=1">↺</a>
</td>

